{% extends 'usuarios/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="mx-5 my-5">
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>
                    Titulo
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Eliminar
                </th>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.titulo }}
                    </td>
                    <td>
                        {{ object.autor }}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'mensajes:editar' object.id %}">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'mensajes:eliminar' object.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{% url 'usuarios:index' %}">Inicio</a>
</div>
{% endblock %}